* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline-style: none;
}
input {
  border: none;
}
a {
  color: inherit;
}

// Font - Inter
@font-face {
  font-family: 'Inter_Regular400';
  src: url(../fonts/Inter/static/Inter-Regular.ttf);
}
@font-face {
  font-family: 'Inter_SemiBold600';
  src: url(../fonts/Inter/static/Inter-SemiBold.ttf);
}
@font-face {
  font-family: 'Inter_Bold700';
  src: url(../fonts/Inter/static/Inter-Bold.ttf);
}

// Font - TT_Norms
@font-face {
  font-family: 'TTNorms_Light300';
  src: url(../fonts/TT_Norms/TTNorms-Light.otf);
}
@font-face {
  font-family: 'TTNorms_Regular400';
  src: url(../fonts/TT_Norms/TTNorms-Regular.otf);
}
@font-face {
  font-family: 'TTNorms_Medium500';
  src: url(../fonts/TT_Norms/TTNorms-Medium.otf);
}
@font-face {
  font-family: 'TTNorms_Bold700';
  src: url(../fonts/TT_Norms/TTNorms-Bold.otf);
}

// footer pressing
html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
main {
  flex: 1 1 auto;
  font-size: 32px;
}
footer {
  flex: 0 0 auto;
}

// main styles
$clr_dark: #27282b;
$clr_dark_light: #343538;
$clr_light: #fff;
$clr_light_dark: #8c8c8c;

section {
  width: 1240px;
  margin: 0 auto;
}
.header {
  background-color: $clr_dark;
  color: $clr_light_dark;
  font-family: 'TTNorms_Regular400';
  display: flex;
  flex-direction: column;
}
main {
}
.header-top {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.header-top__logo {
}
.header-top__search {
  width: 617px;
  height: 48px;
  margin-left: 40px;
  form#search {
    height: 100%;
    input {
      height: 100%;
      width: 100%;
      padding: 17px 23px 18px;
      border-radius: 10px;
      background-color: $clr_dark_light;
      color: $clr_light;
      font-size: 14px;
      font-family: 'TTNorms_Regular400';
      &::placeholder {
        background-image: url(../img/search-normal.svg);
        background-repeat: no-repeat;
        text-indent: 25px;
      }
    }
  }
}
.header-top__socials {
  width: 130px;
  margin-left: 54px;
  display: flex;
  justify-content: space-between;
}
.header-top__phone {
  margin-left: 28px;
  display: flex;
}
.header-top__tel {
  width: 25px;
}
.header-top__quest-num {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}
.header-top__quest {
  font-size: 12px;
}
.header-top__num {
  color: $clr_light;
  font-size: 14px;
}
.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}
.underline-dark-mark {
  border-top: 1px solid #363636;
}
.navigation {
  display: flex;
}
.navigation__catalog {
  display: flex;
  a:nth-child(2) {
    margin-left: 14px;
    color: $clr_light;
    font-family: 'TTNorms_Medium500';
  }
}
.navigation__btn {
  display: none;
}
.navigation_active {
  display: block;
}
.navigation__cat-nav {
  display: none;
}
.navigation__main-menu {
  margin-left: 40px;
  ul {
    display: flex;
    li {
      margin-right: 40px;
    }
  }
}
.basket-btns {
  display: flex;
  margin-right: 50px;
  div {
    margin-left: 8px;
  }
}
.basket-btns__bag {
  cursor: pointer;
}
.basket-btns__heart {
  cursor: pointer;
}
.basket-btns__repeat {
  cursor: pointer;
}
.main-banner {
  display: flex;
}
.main-banner__item {
  display: flex;
}
.main-banner-definition {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 620px;
}
.main-banner-definition__h1 {
  font-family: 'Inter_Bold700';
  font-size: 52px;
  margin-bottom: 25px;
  position: relative;
  .underline-mark {
    width: 484px;
  }
}
.underline-mark {
  position: absolute;
  background: #feed01;
  bottom: 12px;
  left: 0;
  height: 5px;
  z-index: -1;
}
.main-banner-definition__desc {
  font-family: 'Inter_Regular400';
  font-size: 14px;
  margin-bottom: 35px;
}
.main-banner-definition__btns {
  display: flex;
  font-family: 'TTNorms_Medium500';
  font-size: 14px;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 204px;
    height: 41px;
  }
}
.main-banner-definition__cat {
  background: #e31e25;
  color: $clr_light;
}
.main-banner-definition__call {
  border: 1px solid #1b2430;
  margin-left: 15px;
}
.main-banner-pic {
  margin-left: -30px;
}
.products {
  display: flex;
}
.products-filter {
  display: flex;
  flex-direction: column;
  width: 240px;
  font-family: 'Inter_SemiBold600';
  font-size: 12px;
  background: #f6f8f9;
  border-radius: 10px;
  height: 100%;
  border-radius: 10px;
  padding: 32px 16px 42px;
}
.products-filter__title {
  display: inline-block;
  text-transform: uppercase;
  line-height: 16px;
  color: #e31e25;
  padding-left: 24px;
  margin-bottom: 10px;
}
.products-filter-cat {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 15px;
}
.products-filter-cat__li {
  margin-bottom: 8px;
  position: relative;
  span {
    padding-left: 24px;
    padding-right: 10px;
    border-radius: 6px;
    line-height: 24px;
    display: block;
  }
  & span::before {
    content: '';
    background-image: url(../img/Chevron_right.svg);
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 4px;
    top: 8px;
  }
}
.products-filter-cat__li_active {
  & > span {
    background: #eef0f2;
  }
  & span::before {
    background-image: url(../img/Chevron_down.svg);
  }
}

.products-filter-sub {
  font-family: 'Inter_Regular400';
}
.products-filter-sub__li {
  margin-bottom: 8px;
  span {
    padding-left: 44px;
    line-height: 24px;
  }
}
.products-filter-sub__li_active {
  & > span {
    background: #eef0f2;
  }
}
.products-filter__submit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 204px;
  height: 41px;
  background: #1b2430;
  border-radius: 5px;
  color: $clr_light;
}
.products-filter__reset {
  text-align: center;
  padding: 10px;
  text-decoration: underline;
}
.products-goods {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}
.products-goods-top {
  display: flex;
  flex-direction: column;
}
.products-goods-top__title {
  font-family: 'TTNorms_Bold700';
  font-size: 22px;
  line-height: 26px;
  color: #1b2430;
  margin-bottom: 20px;
}
.products-goods-cart-wrap {
  display: flex;
  flex-wrap: wrap;
  width: calc(1000px - 8px);
  column-gap: 50px;
  row-gap: 30px;
}
.products-goods-cart {
  width: 296px;
  padding: 0 12px 30px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px #dedede;
}
.products-goods-cart__img-wrap {
  align-self: center;
  width: 232px;
  height: 165px;
  overflow: hidden;
  padding: 10px 32px;
}
.products-goods-cart__img {
  width: 100%;
}
.products-goods-cart__title {
  font-family: 'TTNorms_Bold700';
  font-size: 22px;
}
.products-goods-cart__rank {
  display: flex;
  align-items: center;
}
.products-goods-cart__stars {
  display: flex;
  span {
    margin-right: 5px;
  }
}
.products-goods-cart__count-reviews {
  margin-left: 5px;
  font-family: 'TTNorms_Light300';
  font-size: 16px;
  margin-top: 3px;
}
.products-goods-cart__parameters {
  margin-top: 12px;
}
.products-goods-cart__parameter-item {
  display: flex;
}
.products-goods-cart__parameter-title {
  width: 125px;
  font-family: 'TTNorms_Regular400';
  font-size: 15px;
  color: #333333;
  opacity: 0.5;
}
.products-goods-cart__parameter-body {
  width: 146px;
  font-family: 'TTNorms_Medium500';
  font-size: 15px;
  color: #333333;
}
.products-goods-cart__cost {
  font-family: 'TTNorms_Bold700';
  font-size: 18px;
  color: #1b2430;
  margin-top: 20px;
}
.products-goods-cart__cost-title {
}
.products-goods-cart__cost-count {
  font-size: 24px;
  margin-left: 5px;
}
.products-goods-cart__cost-currency {
  font-size: 24px;
  margin-left: 3px;
}
.products-goods-cart__btns {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.products-goods-cart__buy {
  font-family: 'TTNorms_Medium500';
  font-size: 17px;
  width: 151px;
  height: 50px;
  background: #1b2430;
  color: $clr_light;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.products-goods-cart__basket {
  margin-left: 35px;
  cursor: pointer;
}
.products-goods-cart__heart {
  margin-left: 32px;
  cursor: pointer;
}
.products-goods-catalog {
  margin-top: 50px;
}
.products-goods-catalog__title {
  display: block;
  font-family: 'TTNorms_Bold700';
  font-size: 22px;
  color: #1b2430;
  margin-bottom: 20px;
}
.products-goods-catalog__show-more {
  width: 343px;
  height: 48px;
  background: #f9f5ff;
  border: 1px solid #f9f5ff;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  font-family: 'TTNorms_Medium500';
  font-size: 16px;
  color: #6941c6;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  cursor: pointer;
  span {
    display: flex;
    align-items: center;
  }
  span::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../img/arrow-down.svg);
    background-size: cover;
    margin-right: 7px;
  }
}
.about-company {
  display: flex;
  justify-content: space-between;
  padding-top: 52px;
}
.about-company-desc {
  padding-top: 51px;
}
.about-company-desc__h2 {
  font-family: 'TTNorms_Bold700';
  margin-bottom: 32px;
  font-size: 48px;
  color: #1b2430;
  position: relative;
  .underline-mark {
    width: 275px;
  }
}
.about-company-desc__p {
  width: 595px;
  font-family: 'TTNorms_Regular400';
  font-size: 22px;
  color: #495059;
}
.about-company-desc__btn {
  font-family: 'TTNorms_Medium500';
  font-size: 17px;
  margin-top: 50px;
  width: 186px;
  height: 49px;
  background: #1b2430;
  border-radius: 5px;
  color: $clr_light;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.about-company-banner {
  position: relative;
}
.about-company-banner__shadow {
  position: absolute;
  width: 604px;
  height: 476px;
  background: #1b2430;
  border-radius: 10px;
  left: 100px;
  top: 51px;
  z-index: -1;
}
.our-advantages {
  display: flex;
  flex-direction: column;
  background: #1b2430;
  color: $clr_light;
  margin-top: 152px;
  position: relative;
  &::before,
  &::after {
    content: '';
    background-repeat: no-repeat;
    position: absolute;
  }
  &::before {
    background-image: url(../img/Ellipse_4.svg);
    width: 192px;
    height: 602px;
    top: 0;
    left: 0;
  }
  &::after {
    background-image: url(../img/Ellipse_3.svg);
    width: 346px;
    height: 147px;
    right: 0;
    bottom: 0;
  }
}
.our-advantages__title {
  margin-top: 48px;
  font-family: 'TTNorms_Bold700';
  font-size: 48px;
  text-align: center;
  margin-bottom: 70px;
}
.our-advantages-item-wrap {
  display: flex;
  column-gap: 120px;
  justify-content: space-between;
  padding: 0 60px;
  margin-bottom: 71px;
}
.our-advantages-item {
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    margin-bottom: 11px;
  }
}
.our-advantages-item__title {
  margin-bottom: 15px;
  font-size: 24px;
  font-family: 'TTNorms_Medium500';
}
.our-advantages-item__desc {
  text-align: center;
  font-size: 16px;
  font-family: 'TTNorms_Light300';
}
.our-clients {
  display: flex;
  flex-direction: column;
  padding-top: 71px;
}
.our-clients__title {
  font-family: 'TTNorms_Bold700';
  font-size: 48px;
  color: #1b2430;
  position: relative;
  .underline-mark {
    width: 275px;
  }
}
.our-clients-slider {
  display: flex;
  flex-direction: column;
}
.our-clients-slider__track {
  display: flex;
  column-gap: 30px;
  padding: 50px 0 50px 25px;
  overflow: hidden;
}
.our-clients-slider__item {
  display: flex;
  width: 370px;
  padding: 24px;
  background-color: $clr_light;
  box-shadow: 0px 5px 30px rgb(10 10 10 / 12%);
  border-radius: 24px;
}
.our-clients-slider__avatar {
  margin-right: 16px;
}
.our-clients-slider__body {
  display: flex;
  flex-direction: column;
  width: 400px;
}
.our-clients-slider__body-title {
  font-family: 'TTNorms_Bold700';
  font-size: 24px;
  letter-spacing: 0.5px;
  color: #1b2430;
  margin-bottom: 4px;
}
.our-clients-slider__body-date {
  font-family: 'TTNorms_Regular400';
  font-size: 16px;
  color: #495059;
  margin-bottom: 20px;
}
.our-clients-slider__body-desc {
  font-family: 'TTNorms_Regular400';
  font-size: 20px;
  color: #495059;
}
.our-clients-slider__remote {
  display: flex;
  justify-content: center;
  margin-bottom: 74px;
}
.our-clients-slider__prev,
.our-clients-slider__next {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.our-clients-slider__prev {
  background: #d9d9d9;
  margin-right: 10px;
}
.our-clients-slider__next {
  background: #1b2430;
}
.our-contacts {
  padding-top: 40px;
  margin-bottom: 40px;
  position: relative;
}
.our-contacts-map {
}

.our-contacts-info {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 445px;
  background: rgba(27, 36, 48, 0.95);
  color: $clr_light;
  border-radius: 20px 0px 0px 20px;
  top: 40px;
  padding: 46px 29px 122px 35px;
}
.our-contacts-info__h2 {
  font-size: 32px;
  font-family: 'TTNorms_Bold700';
  margin-bottom: 10px;
  text-align: center;
}
.our-contacts-info__desc {
  font-family: 'TTNorms_Regular400';
  font-size: 18px;
  text-align: center;
  color: #8c8c8c;
  margin-bottom: 27px;
}

.our-contacts-info__body {
  display: flex;
  flex-direction: column;
  position: relative;
  .underline-mark {
    width: 275px;
    border-radius: 5px;
    z-index: 1;
    bottom: -49px;
    left: calc(50% - 275px / 2);
  }
}
.our-contacts-info__item {
  display: flex;
}
.our-contacts-info__icon {
  width: 30px;
}
.our-contacts-info__text {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  margin-bottom: 30px;
}
.our-contacts-info__item:nth-child(3) .our-contacts-info__text {
  margin-bottom: 0;
}
.our-contacts-info__text-title {
  font-family: 'TTNorms_Light300';
  font-size: 12px;
}
.our-contacts-info__text-body {
  font-family: 'TTNorms_Medium500';
  font-size: 16px;
}

.footer {
  background: $clr_dark;
  color: #8c8c8c;
}
.footer-top,
.footer-bottom {
  padding: 0 50px;
}
.footer-top {
  display: flex;
}
.footer-underline-mark {
  border-bottom: 1px solid #363636;
  display: block;
}
.footer-top-left,
.footer-top-right {
  padding-top: 48px;
}
.footer-top-left {
  border-right: 1px solid #363636;
}
.footer-top-left__logo {
  margin-bottom: 12px;
}
.footer-top-left__desc {
  font-family: 'TTNorms_Light300';
  font-size: 14px;
  width: 450px;
  display: block;
  margin-right: 56px;
  margin-bottom: 24px;
  line-height: 24px;
}
.footer-top-left-contact {
  display: flex;
  margin-bottom: 34px;
}
.footer-top-left-contact__tel {
  display: flex;
  margin-right: 56px;
}
.footer-top-left-contact__tel-img {
  margin-right: 12px;
}
.footer-top-left-contact__tel-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-top-left-contact__tel-title {
  font-family: 'TTNorms_Regular400';
  font-size: 12px;
  margin-bottom: 2px;
}
.footer-top-left-contact__tel-text {
  font-family: 'TTNorms_Regular400';
  font-size: 16px;
  color: $clr_light;
}
.footer-top-left-contact__mail {
  display: flex;
  margin-right: 99px;
}
.footer-top-left-contact__mail-img {
  margin-right: 12px;
}
.footer-top-left-contact__mail-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-top-left-contact__mail-title {
  font-family: 'TTNorms_Regular400';
  font-size: 12px;
  margin-bottom: 2px;
}
.footer-top-left-contact__mail-text {
  font-family: 'TTNorms_Regular400';
  font-size: 16px;
  color: $clr_light;
}
.footer-top-right {
  padding-left: 56px;
  flex: auto;
}
.footer-top-right__title {
  font-family: 'TTNorms_Medium500';
  font-size: 18px;
  color: $clr_light;
  margin-bottom: 12px;
}
.footer-top-right__desc {
  font-family: 'TTNorms_Light300';
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 32px;
}
.subscribe-form {
  height: 48px;
  display: flex;
  align-items: center;
  background: #343538;
  border-radius: 5px;
  input[type='email'] {
    flex: auto;
    height: 36px;
    background-color: inherit;
    padding-left: 25px;
    text-indent: 21px;
    color: $clr_light;
    font-family: 'TTNorms_Regular400';
    font-size: 14px;
    &::placeholder {
      background-image: url(../img/sms_small.svg);
      background-repeat: no-repeat;
    }
  }
  input[type='submit'] {
    height: 36px;
    background: #537ce6;
    border-radius: 5px;
    padding: 0 15px;
    color: $clr_light;
    font-family: 'TTNorms_Medium500';
    cursor: pointer;
    margin-right: 6px;
  }
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 41px;
}
.footer-bottom-left {
  margin-top: 40px;
}
.footer-bottom-menu {
  margin-bottom: 32px;
  ul {
    display: flex;
    font-family: 'TTNorms_Light300';
    font-size: 14px;
    line-height: 17px;
    li {
      margin-right: 30px;
    }
  }
}
.footer-bottom-social {
  display: flex;
  column-gap: 8px;
}
.footer-bottom-social__item {
}
.footer-bottom-right {
}
.footer-bottom-right__copyright {
  font-family: 'TTNorms_Light300';
  font-size: 14px;
  line-height: 17px;
}
